@import "reset";
/* sass sass/app.scss css/app.css --watch */
/*Header styles*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b080c;
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.13) 1.95px 1.95px 2.6px;
  z-index: 999;
  .hide {
    display: block;
  }
  .menu {
    display: flex;
    &-item {
      padding: 0 24px;
      position: relative;
      transition: 0.2s linear;
      &:hover {
        background-color: #ccd1d1;
        .menu-link {
          color: #000;
        }
      }
    }
    &-link {
      line-height: 50px;
      color: #fff;
    }
  }
  &-search {
    padding: 16px 30px;
    color: #fff;
    font-size: 17px;
    &:hover {
      background: red;
      transition: 0.3s linear;
    }
  }
  .menu-item:last-child {
    span {
      cursor: pointer;
    }
    &:hover .submenu {
      display: block;
    }
  }
  /* --- Sub menu --- */
  .submenu {
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0;
    display: none;
    transition: 2s;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    li {
      padding: 15px;
      &:hover {
        background-color: #ccc;
        transition: 0.3s linear;
      }
      a {
        color: #000;
      }
    }
  }
}

/* Banner styles */
.banner {
  position: relative;
  margin-top: 36px;
  max-height: 98vh;
  &-content {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-title {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 24px;
    }
    p {
      font-style: 16px;
      font-weight: 500;
    }
  }
}
/* animation fade */
@keyframes fade {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* Basic styles */
.btn {
  background: #000;
  color: #fff;
  padding: 10px 18px;
  &:hover {
    background: #bdc3c7;
    color: #000;
    transition: 0.3s ease-out;
  }
}
.white-text {
  color: #fff;
}
.row {
  display: flex;
  align-items: center;
  gap: 16px;
}
.column {
  width: 33%;
}
.container {
  position: relative;
  margin: 0 auto;
  padding: 100px 16px;
  max-width: 800px;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  em {
    color: #999;
  }
}
/* Band styles */
.band {
  &-desc {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  &-item {
    h4 {
      margin: 20px 0;
      font-weight: 400;
      text-align: center;
    }
    img {
      margin: 0 auto;
      border-radius: 8px;
      width: 155px;
      height: 155px;
      object-fit: cover;
    }
  }
}
/* Tour styles*/

.tour {
  background: #000;
  &-imgage {
    background-color: #000;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 200ms ease-in-out;
      &:hover {
        opacity: 0.8;
        transform: scale(1.1);
        transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
  }
  &-box {
    background-color: #fff;
    margin-bottom: 30px;
    li {
      position: relative;
      padding: 12px 20px;
      border-bottom: 1px solid #999;
      color: rgb(90, 90, 90);
      span {
        background-color: rgb(228, 3, 3);
        color: #fff;
        padding: 0 4px;
        margin-left: 16px;
      }
      &:last-child::before {
        content: "3";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border-radius: 100px;
        background-color: #000;
        color: #fff;
        right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &-content {
    background-color: #fff;
    padding: 15px 16px;
    .text-country {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 15px;
    }
    .text-date {
      color: #999;
      margin-bottom: 15px;
    }
    .text-desc {
      line-height: 1.4;
      margin-bottom: 15px;
    }
  }
  &-btn {
    display: inline-block;
  }
}
/* Contact styles*/
.contact {
  padding-bottom: 100px;
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
  }
  &-info .info {
    display: flex;

    gap: 20px;
    margin-bottom: 15px;
    span,
    i {
      font-size: 18px;
    }
  }
  &-form {
    input {
      outline: none;
      padding: 8px 12px;
      &:focus {
        border-radius: 4px;
        border: 2px solid #000;
        transition: 0.3s linear;
      }
    }
    .form-group {
      display: flex;
      gap: 12px;
      margin-bottom: 8px;
      input {
        flex: 1;
      }
    }
    .message {
      width: 100%;
    }
  }
  &-btn {
    display: block;
    margin-top: 15px;
    margin-left: auto;
  }
}
/* map styles */
.map {
  max-height: 855px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%);
  }
}
/* footer styles */
.footer {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .list-icon {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 28px;
    i {
      color: #273746;
      font-size: 24px;
      &:hover {
        color: #ccd1d1;
        transition: 0.2s linear;
      }
    }
  }
  &-desc {
    color: #999;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
/* Style mobile */
.header-menubar {
  padding: 16px 30px;
  color: #fff;
  font-size: 17px;
  display: none;
  &:hover {
    background-color: #ccd1d1;
    color: #000;
    transition: 0.2s linear;
  }
}
.menumb {
  position: fixed;
  width: 100%;
  background-color: #0b080c;
  top: -500px;
  z-index: 99;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &-link {
    display: block;
    padding: 16px 28px;
    color: #fff;
  }
  &-item {
    position: relative;
    transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    &:hover {
      background-color: #ccd1d1;
      .menumb-link {
        color: #000;
      }
    }
  }
}
.show {
  top: 49px;
  transition: 0.3s;
}

/* Tick */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  &-close {
    position: absolute;
    font-size: 20px;
    color: #fff;
    padding: 16px;
    top: 0;
    right: 0;
    &:hover {
      cursor: pointer;
      background: #bdc3c7;
      color: #000;
      transition: 0.3s;
    }
  }
  .active {
    opacity: 1;
    top: 50%;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &-container {
    opacity: 0;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 100%;
    background: #fff;
  }
  &-caption {
    font-size: 26px;
    padding: 40px;
    justify-content: center;
    background-color: #008080;
    color: #fff;
  }
  &-content {
    padding: 20px;
    .group-form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 4px;
      margin-bottom: 20px;
      input {
        padding: 10px 16px;
        border: 1px solid #ccc;
        &:focus {
          border: 1px solid #000;
          transition: 0.3s;
        }
      }
    }
    .btn-ticket {
      display: block;
      padding: 20px;
      text-align: center;
      width: 100%;
      background: #3498db;
      color: #fff;
      i {
        margin-left: 4px;
      }
      &:hover {
        background: #d7dbdd;
        color: #000;
        transition: 0.3s;
      }
    }
    .close {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-close {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background: red;
        padding: 12px 16px;
        color: #fff;
        &:hover {
          background: #d7dbdd;
          color: #000;
          transition: 0.3s;
        }
      }
      span a {
        color: #3498db;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header .hide {
    display: none;
  }
  .header-menubar {
    display: block;
  }
  .container {
    padding: 60px 16px;
  }
  .banner {
    &-title {
      display: none;
    }
  }
  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  .band {
    img {
      width: 60%;
      height: auto;
    }
  }
  .contact {
    &-content {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: 500px) {
  .contact-form .form-group {
    flex-direction: column;
    gap: 8px;
  }
  .container {
    padding: 40px 16px;
  }
}
